<div class="submenu-plain oo-menu">
    <div class="oo-window-size submenu-iconless"></div>
    <div class="oo-note-count submenu-iconless"></div>
    <div class="oo-board-size submenu-iconless"></div>
    <div class="oo-iframes-without-sandboxing submenu-iconless"></div>

    <a href='#' onclick="return toggleModal('.oo-wipe-board');" tabindex='-1'>
        <i class='fa fa-fw fa-trash' tabindex='-1'></i>wipe board...
    </a>

    <a href="/debug" target="_blank"> <i class="fa fa-fw fa-bug"></i>debug</a>

    <a onclick='debugInfo(this)' tabindex='-1'>
        <i class='fa fa-fw fa-download' tabindex='-1'></i> download board ...
    </a>

    <!-- various auth options -->
    <!--<a href='#' onclick="return toggleModal('#oo-auth-config');" tabindex='-1'>-->
        <!--<i class='fa fa-fw fa-venus-mars' tabindex='-1'></i>3rd party auths...-->
    <!--</a>-->
</div>



