<div class="submenu-header oo-menu">
    <a href="#" class="submenu-bold">
        config board
        <i class='fa fa-fw fa-angle-double-down right' tabindex='-1'></i>
    </a>
    <div class="submenu-body submenu-background-menu">
        <a onclick="return underlay('color-darkslategrey')" href="#" class="background-color-darkslategrey"><i class="oo-background-menu-color-darkslategrey"></i>dark slate grey</a>
        <a onclick="return underlay('color-whitesmoke')" href="#" class="background-color-whitesmoke"><i class="oo-background-menu-color-whitesmoke"></i>white smoke</a>
        <a onclick="return underlay('color-blanchedalmond')" href="#" class="background-color-blanchedalmond"><i class="oo-background-menu-color-blanchedalmond"></i>blanched almond</a>

        <a onclick="return underlay('concrete_seamless')" href="#" class="background-concrete_seamless"><i class="oo-background-menu-concrete_seamless"></i>concrete</a>
        <a onclick="return underlay('geometry2')" href="#" class="background-geometry2"><i class="oo-background-menu-geometry2"></i>geometry</a>
        <a onclick="return underlay('paisley')" href="#" class="background-paisley"><i class="oo-background-menu-paisley"></i>paisley</a>
        <a onclick="return underlay('paper_1')" href="#" class="background-paper_1"><i class="oo-background-menu-paper_1"></i>paper</a>
        <a onclick="return underlay('pink_rice')" href="#" class="background-pink_rice"><i class="oo-background-menu-pink_rice"></i>pink rice</a>
        <a onclick="return underlay('restaurant_icons')" href="#" class="background-restaurant_icons"><i class="oo-background-menu-restaurant_icons"></i>restaurant</a>
        <a onclick="return underlay('swirl_pattern')" href="#" class="background-swirl_pattern"><i class="oo-background-menu-swirl_pattern"></i>swirl</a>
        <a onclick="return underlay('upfeathers')" href="#" class="background-upfeathers"><i class="oo-background-menu-upfeathers"></i>upfeathers</a>

    </div>
</div>

<div class="submenu-header oo-menu">
    <a href="#" class="submenu-bold">
        change board
        <i class='fa fa-fw fa-angle-double-down right' tabindex='-1'></i>
    </a>
    <div class="submenu-body oo-change-board"></div>
</div>

<hr>

<a onclick="return toggleModal('#oo-settings');" href="#"><i class="fa fa-fw"></i>new board</a>
<a onclick="return toggleModal('.oo-duplicate-board');" href="#"><i class="fa fa-fw"></i>duplicate board</a>
