<div class="welcome">
    <div class="intro">
        <img class="otto-logo" src="/ohOtto256px.png" tabindex="'-1">
        <div id="watermark">
            ßeta
        </div>
        <i class="hvr-rotate cw-signin-or-out fa fa-fw fa-sign-in" onclick="toggleSignedState();return false;" title="sign in"></i>
        <p>Oh Otto is a web organisation tool.</p>
        <p>You can gather bits from any source, and organise them spatially.</p>
        <p>This includes</p>
        <ul>
            <li>text snippets and notes</li>
            <li>urls, which are articulated to provide more context</li>
            <li>images</li>
        </ul>
        <p>All of this is within a regular grid framework, with drag and drop capabilities</p>
        <p>You need an account to login. You can use your Facebook, or Google account to do so</p>
    </div>
</div>