<div id="zoom">
    <div id="zoom-move" title="move around the board">
        <div id="zoom-move-top">
            <div id='top-left'><i class="fa fa-fw fa-long-arrow-up"></i></div>
            <div id='up'><i class="fa fa-fw fa-arrow-up"></i></div>
            <div id='top-right'><i class="fa fa-fw fa-long-arrow-up"></i></div>
        </div>
        <div id="zoom-move-middle">
            <div id='left'><i class="fa fa-fw fa-arrow-left"></i></div>
            <div id='dummy'><i class="fa fa-fw"></i></div>
            <div id='right'><i class="fa fa-fw fa-arrow-right"></i></div>
        </div>
        <div id="zoom-move-lower">
            <div id='bottom-left'><i class="fa fa-fw fa-long-arrow-up"></i></div>
            <div id='down'><i class="fa fa-fw fa-arrow-down"></i></div>
            <div id='bottom-right'><i class="fa fa-fw fa-long-arrow-up"></i></div>
        </div>
    </div>
    <div id="zoom-zoom" title="zoom in, reset, and out">
        <div id='in'><i class="fa fa-fw fa-plus"></i></div>
        <div id='actual'><i class="fa fa-fw fa-circle-o"></i></div>
        <div id='out'><i class="fa fa-fw fa-minus"></i></div>
    </div>
    <div id="zoom-resize" title="see width, height, or all">
        <div id='fill-width'><i class="fa fa-fw fa-arrows-h"></i></div>
        <div id='fill-screen'><i class="fa fa-fw fa-arrows-alt"></i></div>
        <div id='fill-height'><i class="fa fa-fw fa-arrows-v"></i></div>
    </div>
    <a href="#" onclick="toggleZooming()" class="zoom-show"><i class="fa fa-fw fa-globe"></i></a>
</div>

