.oo-card {
  position:relative;
  display: inline-block;
  float: left;
  box-sizing: content-box;
  z-index:5;
  width: $cell-width;
  height: $cell-height;
}

@mixin content-icon() {
  position: absolute;
  bottom: 0;
  z-index: 10;
  opacity: 0.1;
  transition-delay: 1s;
  transition: 1s;
  background: white;
  color: green;
}

@mixin content-icon-hover{
  opacity: 0.9;
  //transition-delay: 0.5s;
  //transition: 0.5s;
}

.card-content {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-style: none;
  font-family:cursive;
  position:relative;
  z-index: 0;
  &-favicon{
    height:1em;
    width:1em;
    right:0;
    @include content-icon()
  }
  &-remove {
    right:2.3em;
    @include content-icon()
  }
  &-edit {
    right:1.1em;
    @include content-icon()
  }
  &:hover &-remove, &:hover &-edit {
    @include content-icon-hover()
  }
  & > p{
    margin:0;
    padding-left:0.2em;
    padding-right:0.2em;
  }
}

.card-content ul {
  list-style: disc;
}

.card-content li {
  list-style: disc;
  //margin-top: 10px;
}

.card-content h1 {
  //font-size: 100%;
  text-decoration: underline;
  line-height: normal;
  margin: 5px 0 0 0;
  padding: 0 0 0 0;
}

.card-content h2 {
  //font-size: 100%;
  text-decoration: underline;
  line-height: normal;
  margin: 5px 0 0 0;
  padding: 0 0 0 0;
}

.oo-card-paper {
  -webkit-border-bottom-left-radius: 20px 500px;
  -webkit-border-bottom-right-radius: 500px 30px;
  -webkit-border-top-right-radius: 5px 100px;
  -moz-border-radius-bottomleft: 20px 500px;
  -moz-border-radius-bottomright: 500px 30px;
  -moz-border-radius-topright: 5px 100px;
  border-radius-bottomleft: 20px 500px;
  border-radius-bottomright: 500px 30px;
  border-radius-topright: 5px 100px;
}

.oo-photo {
  //border:7px solid #F8F8F8;
  border-radius: 4px;
  max-width: 300px;
}

//.oo-url-favicon {
//  width: 32px;
//  height: 32px;
//}
//
.oo-card-resizer {
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 0;
  position: absolute;
  background: $otto-text-color;
  &:hover {
    background: $otto-text-color-hilite;
  }
}

iframe {
  pointer-events: none;
}

.oo-url {
  width: $cell-width;
  height: $cell-height;
  //padding:0.5em;
  border-style: none;
  background: white;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:bottom;
  color: black;
  & * {
    margin: 0; 
    border: 0;
    padding: 0;
  }
  &-favicon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2em;
    height: 2em;
    z-index: 1;
    margin: 0.25em;
  }
  &:hover &-url, &:hover &-remove {
    @include content-icon-hover()
  }
  &-url, &-remove {
    @include content-icon()
  }

  &-url {
    right: 2.6em;
  }
  &-remove {
    right: 4.6em;
  }
  &-store-url, &-author {
    display: none;
  }
  &-title {
    font-weight: bold;
    padding: 0.5em;
    color:black;
    background-color:rgba(255,255,255,0.2);
  }
  &-site {
    position: relative;
    font-size:140%;
    top:-0.4em;
    padding: 0.5em;
    color:blue;
    font-weight: bolder;
    background-color:transparent;
    text-align:center;
  }
  &-type {
    position:absolute;
    top:-1em;
    left:-1em;
    font-size:120%;
    font-weight:bolder;
    padding: 0.1em;
    color:green;
    border-width:0.1em;
    border-color:green;
    border-style:solid;
    background-color:transparent;
    transform:rotate(-20deg);
  }
  &-description {
    padding: 0.5em;
    color:black;
    background-color:rgba(255,255,255,0.2);
  }

}

