
#dialog-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  opacity: 0.8;
  z-index: 100000;
}

#cw-check-signout, #after-signin, #after-signout {
  font-size: 200%;

  display: none;
  opacity: 1;
  pointer-events: auto;
  background: antiquewhite;
  color: black;
  // center in window
  position: absolute;
  top: 50%;
  height: 3em;
  margin-top: -1.5em;

  left: 50%;
  width: 15em;
  margin-left: -7.5em;

  z-index: 100001;
  &:target {
    pointer-events: auto;
  }
  & h4 {
    position: absolute;
    width: 100%;
    top: 0;
    margin: 0.3em;
    text-align: center;
  }
  & .cw-ok {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1em;
    margin: 0.3em;
  }
  & .cw-close {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1em;
    margin: 0.3em;
  }
}
